* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  min-height: 100%;
  background-color: #000000; }

@font-face {
  font-family: 'FingerPaint';
  src: url("../fonts/FingerPaint-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'AmaticSC';
  src: url("../fonts/AmaticSC-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?5suhin");
  src: url("../fonts/icomoon.eot?#iefix5suhin") format("embedded-opentype"), url("../fonts/icomoon.woff?5suhin") format("woff"), url("../fonts/icomoon.ttf?5suhin") format("truetype"), url("../fonts/icomoon.svg?5suhin#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-balance:before {
  content: "\e600"; }

.icon-rule:before {
  content: "\e601"; }

.icon-time:before {
  content: "\e602"; }

.icon-heart:before {
  content: "\e603"; }

.birthdata {
  position: relative;
  float: right;
  height: 100%;
  list-style: none;
  font-family: "AmaticSC";
  font-size: 2rem;
  font-weight: bold;
  width: 200px; }
  .birthdata-item {
    display: block;
    height: 25%;
    box-sizing: border-box;
    padding: 10px; }
    .birthdata-item div {
      border: 2px dashed #fff;
      height: 100%;
      padding-top: 15%;
      box-sizing: border-box; }
    .birthdata-item.date {
      background-color: #d7baa8;
      color: #9e6948; }
      .birthdata-item.date div {
        border-color: #f4ece7; }
    .birthdata-item.time {
      background-color: #bc674a;
      color: #623424; }
      .birthdata-item.time div {
        border-color: #d59f8d; }
    .birthdata-item.weight {
      background-color: #954347;
      color: #562729; }
      .birthdata-item.weight div {
        border-color: #562729; }
    .birthdata-item.height {
      background-color: #a35469;
      color: #663542; }
      .birthdata-item.height div {
        border-color: #c58e9d; }

.slide {
  height: 100%; }
  .slide-background {
    background: no-repeat fixed center center;
    background-size: cover;
    height: 100%;
    width: 100%; }
  .slide-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  .slide-content {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center; }
  .slide-title {
    color: #fff;
    font-size: 4rem;
    font-family: "FingerPaint"; }

#slide-1 .slide-background {
  background-image: url("../img/studio.jpeg"); }
#slide-1 .slide-title {
  margin-top: 250px; }

#slide-2 {
  height: 50%; }
  #slide-2 .slide-background {
    background-color: rgba(187, 67, 68, 0.85); }

#slide-3 .slide-background {
  background-image: url("../img/naomi.jpg"); }
#slide-3 .slide-content {
  padding-right: 0; }
#slide-3 .slide-title {
  padding-top: 30%;
  font-size: 6rem; }
