#slide-1 {
	.slide-background {
		background-image: url('../img/thierry-ecoute-bebe-min.jpg');
	}

	.slide-title {
		margin-top: 250px;
	}
}

#slide-2 {
	height: 50%;
	.slide-background {
		background-color: rgba(187, 67, 68, 0.85);
	}
}

#slide-3 {
	.slide-background {
		background-image: url('../img/naomi-studio-min.jpg');
	}

	.slide-content {
		padding-right: 0;
	}
}

#slide-4 {
	height: 300%;

	.slide-background {
		background-color: rgba(239, 194, 118, 0.85);
	}

	.slide-title {
		position: absolute;
		top: 30px;
	}

	.polaroid {
		position: absolute;
		top: 200px;

		@for $i from 1 through 28 {
			&:nth-of-type(#{$i}) {
				-webkit-transform: rotate((random(30) - 25) + deg);
				-moz-transform: rotate((random(30) - 25) + deg);
				transform: rotate((random(30) - 25) + deg);
			}
		}
	}
}

#slide-5 {
	position: relative;

	.slide-background {
		background-image: url('../img/naomi-sourire-min.jpg');
	}

	.note {
		position: absolute;
		font-family: cursive;
		opacity: 0;
		transition: opacity .5s ease;

		&:first-of-type {
			top: 200px;
			left: 120px;
		}

		&:nth-of-type(2) {
			top: 380px;
			left: 120px;
		}

	}

	img {
		position: absolute;
		top: 10px;
		left: 50px;

		&:hover + .note {
			opacity: 1;
		}

		&:hover + .note + .note {
			opacity: 1;
		}

	}

}
