@font-face {
	font-family: 'FingerPaint';
	src: url('../fonts/FingerPaint-Regular.ttf')  format('truetype')
}

@font-face {
	font-family: 'AmaticSC';
	src: url('../fonts/AmaticSC-Regular.ttf')  format('truetype')
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?5suhin');
	src:url('../fonts/icomoon.eot?#iefix5suhin') format('embedded-opentype'),
	url('../fonts/icomoon.woff?5suhin') format('woff'),
	url('../fonts/icomoon.ttf?5suhin') format('truetype'),
	url('../fonts/icomoon.svg?5suhin#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-balance:before {
	content: "\e600";
}
.icon-rule:before {
	content: "\e601";
}
.icon-time:before {
	content: "\e602";
}
.icon-heart:before {
	content: "\e603";
}
